<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <div class="wrapper">
    <header>
      <nav>
        
      <h1>
        <a href="/">Expense Tracker</a>
        <p>Use this tracker to give every dollar a job!</p>

      </h1>
     
      <nav>
        {{#if loggedIn}}
        
       <a class="btn" href="/dashboard">Dashboard</a>
         <button id="logout" class="btn">Logout</button>
     
        {{else}}
        <p>Please login or register to use the site!</p>
        {{/if}}
      </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
      Created by: Ryan, Josh, Zach, Mohamed
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/paid-expense.js"></script>
    {{/if}}
</body>

</html>